@charset "UTF-8";

header {
	width: 100%;
	position: re
}

#header-nav {
	position: relative;
	margin-top: 5px;
}

#header-nav * {
	display: inline-block;
}

#header-nav li {
	font-size: 0.8em;
}

#header-nav>span {
	margin-left: 5px;
}

#header-nav>ul {
	position: absolute;
	right: 5px;
}

#header-img-div {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px; 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#header-content-nav {
	width: 100%;
	border: 1px solid #e3e3e3;
	margin-bottom: 30px;
	vertical-align: middle;
	position: relative;
}

#header-content-nav * {
	display: inline-block;
}

#header-content-nav ul {
	font-size: 0.8em;
	margin: 0px 5px;
	line-height: 40px;
}

#header-content-search {
	position: absolute;
	right:5px;
	top:3px;
	height:60%;
	vertical-align: middle;
}

#header-content-search>form>* {
	border: 1px solid #e3e3e3;
}

#header-content-search-text {
	position: relative;
	top: -2px;
	border-right: none;
	height: 28px;
}

#header-content-search-button{
	height:30px;
	width:55px;
	margin-top:1px;
	background-color: #19ce60;
	color: #ffffff;
}